:root {
    --bg: #F5F5F5;
    --purple1: #032E48;
    --purple2: #2C3133;
    --blue: #0089FF;
    --orange2: #f77d21;
    --orange1: #FF6F00;
    --grey: #767676;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Arial';
}

header {
    display: flex;
    height: 15vh;
    background-color: var(--purple1);
}

.menu {
    display: flex;
    align-items: center;
}

.main {
    background-color: var(--bg);
}

.menu-right {
    flex: 1;
}

.menu-right ul {
    display: flex;
    list-style: none;
}

.menu-right ul li {
    margin-left: 24px;
}

.menu-right a {
    text-decoration: none;
    color: white;
    font-size: 12pt;
    font-weight: 600;
}

.menu-right a:hover {
    color: var(--orange1);
}

.container {
    margin: auto;
    max-width: 80vw;
    width: 80vw;
}

.menu-left {
    flex: 1;
}

.logo {
    margin-left: 70px;
    width: 256px;
    height: 160px;
}

.logo-home {
    width: 64px;
    height: 64px;
}

.section-home {
    height: 90vh;
    display: flex;
}

.section-home-left {
    flex: 1;
}

.section-home-right {
    flex: 1;
}

.section-home-left-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--purple1);
    border-radius: 0px 0px 152px 64px;
    padding-top: 24px;
}

.section-home-left-content h1 {
    color: white;
    font-size: 24pt;
    margin-top: 32px;
}

.section-home-left-content h2 {
    font-weight: 400;
    color: white;
    font-size: 12pt;
    margin-top: 32px;
}

.home-logo{
    width: 192px;
    height: 120px;
    margin-left: 70px;
}

.section-home-left-content h1,
.section-home-left-content h2 {
    margin-left: 70px;
}

.section-home-left-img {
    display: flex;
}

.section-home-left-img-img {
    margin-left: 70px;
    justify-content: center;
    display: flex;
}

.section-home-left-img-img img {
    border-radius: 50px;
}

.section-home-left-img-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}

.section-home-right-content {
    padding: 24px 104px 32px 104px;
    display: flex;
    flex-direction: column;
}

.section-home-right-content h2 {
    margin-top: 8px;
    margin-bottom: 16px;
}

.section-home-right-content h3 {
    margin-top: 8px;
    margin-bottom: 16px;
}

.section-home-right-content p {
    margin-bottom: 16px;
}

.section-home-right-content input {
    outline: none;
    border: 1px solid #7e7e7e;
    border-radius: 8px;
    margin-top: 12px;
    height: 56px;
}

.section-home-right-content a {
    border-radius: 8px;
    margin-top: 24px;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: var(--orange1);
    color: white;
    text-decoration: none;
}


.section-home-right-content a:hover {
    background-color: var(--orange2);
}

.section-home-right-content div {
    display: flex;
    justify-content: end;
    margin-top: 16px;
}

.section-home-right-content input {
    padding-left: 24px;
}

.section-home-right-content input::placeholder {
    color: black;
}

.section-video {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.section-video iframe {
    box-shadow: 0px 5px 5px #858484;
    border-radius: 20px;
    width: 65vw;
    height: 65vh;
}

.section-icons {
    margin-top: 104px;
}

.section-icons h1 {
    font-size: 24pt;
    margin-bottom: 32px;
    text-align: center;
}

.section-icons img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-icons-icons {
    height: 80vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
}

.section-icons-icon {
    margin-left: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 224px;
}

.section-icons-icon img {
    width: 128px;
    height: 128px;
}

.section-icons-icon h5 {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 12pt;
    color: var(--purple2);
}

.section-collaborators-collaborator {
    display: flex;
}

.section-collaborators {
    margin-top: 128px;
}

.section-collaborators h1 {
    margin-bottom: 88px;
    font-size: 24pt;
    text-align: center;
}

.section-collaborator {
    width: 384px;
    margin-left: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-collaborator img {
    margin-bottom: 16px;
    border-radius: 32px;
    width: 196px;
    height: 196px;
}

.section-collaborator h3 {
    margin-bottom: 16px;
}

.section-collaborator-icones {
    display: flex;
    justify-content: end;
    margin-top: 32px;
}

.section-collaborator-icones img {
    margin-left: 32px;
    width: 80px;
    height: 80px;
    transform: rotate(90deg);
}

.section-collaborator-icones img:nth-child(2){
    opacity: 0.7;
}

.section-collaborator-icones img:nth-child(3){
    opacity: 0.4;
}

.section-franchises {
    display: flex;
    margin-top: 228px;
}

.section-franchises-left,
.section-franchises-right {
    flex: 1;
}

.section-franchises-cards {
    display: flex;
}

.section-franchises-card {
    flex: 1;
    padding-right: 32px;
}

.section-franchises-left h2 {
    font-size: 24pt;
    margin-bottom: 48px;
}

.section-franchises-card div {
    margin-top: 24px;
    background-color: var(--orange2);
    width: 50%;
    height: 16px;
    margin-bottom: 56px;
    border-radius: 8px;
}

.section-franchises-left a {
    font-size: 16pt;
    border-radius: 16px;
    padding: 20px 64px 20px 64px;
    text-decoration: none;
    color: white;
    background-color: var(--blue);
}

.section-franchises-left a:hover {
    opacity: 0.9;
}

.section-franchises-card h3 {
    margin-bottom: 8px;
}


.section-franchises-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-franchises-right-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--orange1);
    border-radius: 16px;
    width: 256px;
    height: 256px;
}

.section-franchises-right-imgs img{
    border-radius: 32px;
    width: 180px;
    height: 180px;
}

.section-franchises-right-imgs img:nth-child(1),
.section-franchises-right-imgs img:nth-child(3) {
    position: relative;
    left: 80px;
}

.section-franchises-right-imgs img:nth-child(1) {
    position: relative;
    left: 56px;
}

.section-franchises-right-imgs img:nth-child(2) {
    position: relative;
    right: 148px;
}

.section-about {
    display: flex;
    margin-top: 228px;
}

.section-about-left,
.section-about-right {
    flex: 1;
}

.section-about-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-about-left {
    padding-right: 128px;
}

.section-about-right-img {
    position: relative;
    left: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-about-right-img::after {
    content: '';
    border: 3px solid var(--orange1);
    border-radius: 16px;
    height: 264px;
    width: 264px;
    position: relative;
    left: -276px;
    top: 10px;
    transform: rotate(-15deg);
}

.section-about-right-img img {
    border-radius: 32px;
    width: 694px;
    height: 475px;
}

.section-about-left h2 {
    font-size: 24pt;
    margin-bottom: 16px;
}

.section-about-left img {
    margin-top: 48px;
}

.section-about-left img:last-child {
    margin-left: 48px;
}

.section-about-right-icons {
    width: 694px;
    display: flex;
    justify-content: end;
}

.section-about-right-icon {
    margin-top: 24px;
    width: 64px;
    height: 64px;
}

.section-about-right-icons img{
    transform: rotate(90deg);
}

.section-about-right-icon:nth-child(2),
.section-about-right-icon:nth-child(3) {
    margin-left: 16px;
}

.section-about-right-icons img:nth-child(2){
    opacity: 0.7;
}

.section-about-right-icons img:nth-child(3){
    opacity: 0.5;
}

footer {
    margin-top: 128px;
    min-height: 15vh;
}

footer .container {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--purple2);
}

.footer-fr {
    flex: 1;
    margin-top: 12px;
}

.footer-fr:nth-child(1) {
    color: var(--blue);
    display: flex;
    justify-content: start;
}

.footer-fr:nth-child(2) {
    color: var(--grey);
    display: flex;
    justify-content: center;
}

.footer-fr:nth-child(3) {
    display: flex;
    justify-content: end;
}

.footer-fr img {
    margin-right: 24px;
}